.*.swp
.*.swo
.*.swn
*.xls
*.xlsx
*.jpg
*.jpeg
*.bmp
*.png
*.gif
*.md
assets/img
assets/libs/mobileSelect.js
TODO
CHANGELOG
components/cfwriteback
components/cfquella
components/cfsesseract
components/*.cfm

#nly track
app/dev

JAVASCRIPT
