# Exclude all of these binary formats
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.wav
*.mp3
*.ogg
*.webm
*.mp4
*.ogv
*.avi
*.aiff

# And any swap files
.*.swo
.*.swn
.*.swp

# Some things are just for me.
TODO
LOCAL.TODO
src.vim
dev.mk

# Exclude these directories
components/*
app/dev/
WEB-INF/

# Always track CFCs
!components/*.cfc

# This is for all that motrpac stuff
docs

*.tmp

snapshots/*
