/* sliders.css */
/* **************************************** *
 * **************************************** *
 * **************************************** *
   SLIDER 

 * **************************************** *
 * **************************************** *
 * **************************************** */

/*Slider*/
.slidecontainer {
	width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	position: relative;
	top: 10px;
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 20px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	-moz-border-radius: 10px;	
	-gecko-border-radius: 10px;	
	border-radius: 10px;	
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 42px; /* Set a specific slider handle width */
	height: 42px; /* Slider handle height */
	cursor: pointer; /* Cursor on hover */
	-moz-border-radius: 21px;	
	-gecko-border-radius: 21px;	
	border-radius: 21px;	
	background-color: #e6f2ff;
	border: 5px solid #728ab2; 
	box-shadow: 5px 5px 5px gray;
}


.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
	background-color: #e6f2ff;
	border: 5px solid #728ab2; 
	box-shadow: 5px 5px 5px gray;
}


.slider::-moz-range-thumb::after,
.slider::-webkit-slider-thumb::after {
	-moz-border-radius: 5px;	
	-gecko-border-radius: 5px;	
	border-radius: 5px;	
	height: 10px;
	width: 10px;
	background-color: #e6f2ff;
	border: 5px solid #728ab2; 
	box-shadow: 10px 10px 5px gray;
}


span.samelime {
	position: relative;
	top: 10px;
	float: left;
	left: 0px;
	font-style: italic;
	color: pink;
}

.col-sm-1 span:nth-child(1) {
	font-size: 0.9em;
}

.col-sm-1 span:nth-child(2) {
	font-size: 0.6em;
}
