.debug {
	width: 120px;
	height: auto;
	color: white;
	background-color: red;
	position: fixed;
	z-index: 99;
	right: 0px;
	top: 0px;
	padding: 10px;
}

#debugger .inner div {
	margin: 10px;
}

.debug2 {
	width: 120px;
	height: auto;
	color: white;
	display: block;
	min-height: 30px;
	background-color: blue;
	position: fixed;
	z-index: 99;
	right: 140px;
	top: 0px;
	padding: 10px;
}
