/*global*/
html {
	font-family: 'Montserrat', sans-serif;
}

body {background-color: #eee;}

p, div {
	font-family: 'Montserrat', sans-serif;
}

pre {
	width: 95%;
	margin: 0 auto;
	background-color: white;
	color: black;
	margin-top: 10;
	padding: 5;
}

.center {
	text-align: center;
}

.other-container {
	position: relative;
	width: 39%;
	padding-top: 10;
	margin-bottom: 10;
	float: right;
}

.container-section {
	position: relative;
	width: 95%;
	padding-top: 10;
	margin: 0 auto;
	margin-bottom: 10;
}

.container-dark-line {
	border-top: 5px solid #333;
}

.container-light-line {
	border-top: 5px solid #ccc;
}

.container p {
	font-size: 1.5em;
}

.container {
	position: relative;
	background-color: #fff;
	top: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 90%;
	border: 1px solid gray;
	overflow: hidden;
	width: 95%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-gecko-border-radius: 5px;
	box-shadow: 10px 10px 5px gray;
}

h1, h2, h3, h4, h5 {
	transition: font-size 0.2s;	
}

p {
	transition: font-size 0.2s,
							width 0.2s;
}

a, ul {
	transition: background-color 0.2s,
							color 0.2s;
}

h1 { font-size: 16em; font-weight: bold; text-align: center; }
h2 { font-size: 5em; }
h3 { font-size: 4em; }
h4 { font-size: 3em; }
h5 { font-size: 2em; }


p {
	font-size: 1.4em;
	margin-top: 30px;
}

.gets {
	transition: display 0.2s;
	display: none;
}

div.part-div {
	position: relative;
	width: 100%;
	white-space: nowrap;
}

.participant-info
{ 
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
	left: 2.5%;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-bottom: 3px solid black;
	position: relative;
}

.participants li
{
	position: relative;
	z-index: 0;
	display: inline-block;

	font-size: 1.0em;
	text-align: center;

	height: 100px;
	width: 100px;

	margin-top: 10px;
	margin-right: 10px;
	padding: 10px;
	padding-top: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-gecko-border-radius: 5px;

	color: white;
	background-color: black;

	transition: 
		background-color 0.2s,
		color 0.2s
	;
}

.participants li:hover {
	background-color: #aaa;
}

div.nav, 
.part-div 
{
	margin-bottom: 10px;
}

ul.nav a {
	background-color: #eee;
	position: relative;
	left: 2.5%;
	width: 95%;

	display: block;
	top: 10px;

	font-size: 1.5em;
	letter-spacing: -1px;
	text-align: center;

	margin-right: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;

	color: black;
	transition: background-color 0.2s,
							color 0.2s;
}

ul.nav a.selected {
	background-color: #ccc;
	display: inline-block;
	color: white;
}

ul.nav a:hover {
	background-color: cyan;
	color: white;
	display: inline-block;
	text-decoration: none;
}

ul.nav a.selected:hover {
	background-color: #ccc;
	color: white;
}

.table th {
	font-weight: bold;
}

.table td.title {
	width: 200px;
}

ul.dasch li {
	display: inline-block;
	background-color: #aaa;
	color: black;
	margin-right: 5px;
	min-width: 50px;
	max-width: 150px;
	padding: 5px;
	transition: background-color 0.2s,
							color 0.2s;
}

ul.dasch li.selected {
	background-color: #e0ffff;
}

ul.dasch li:hover {
	background-color: #00ffff;
}


/*2nd-level navigation (Switch between endurance and resistance data)*/
ul.participant-info-nav li 
{
	display: inline-block; 

	text-align: center;

	height: 40px;
	width: 130px;

	padding: 10px;

	color: #ddd;
	background-color: purple;

	transition: 
		background-color 0.2s,
		color 0.2s;
	;
}

ul.participant-info-nav li:hover {
	background-color: #e5bdfb;	
	color: cyan;	
}



/*Inner navigation*/
ul.inner-nav li {
	text-align: center;
	padding: 5px; 
	display: inline-block; 
	background-color: #333; 
	color: white;
	transition: background-color 0.2s, color 0.2s;
}
	
ul.inner-nav li:hover {
	background-color: cyan; 
	color: black; 
}

ul.endurance li {
	text-align: center;
	width: 60px; 
	padding: 5px; 
	display: inline-block; 
	background-color: #333; 
	color: white;
	transition: background-color 0.2s, color 0.2s;
}
	
ul.endurance li:hover {
	background-color: cyan; 
	color: black; 
}	

textarea.width {
	width: 100%;
	height: 150px;
	font-size: 1.2em;
}



/* **************************************** *
 * **************************************** *
 * **************************************** *
   SLIDER 

 * **************************************** *
 * **************************************** *
 * **************************************** */

/*Slider*/
.slidecontainer {
	width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	position: relative;
	top: 10px;
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 10px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 35px; /* Slider handle height */
	background: blue; /* Green background */
	cursor: pointer; /* Cursor on hover */
	-moz-border-radius: 5px;	
	-gecko-border-radius: 5px;	
	border-radius: 5px;	
}


.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}


.slider::-moz-range-thumb::after,
.slider::-webkit-slider-thumb::after {
	-moz-border-radius: 5px;	
	-gecko-border-radius: 5px;	
	border-radius: 5px;	
	height: 10px;
	width: 10px;
	background-color: white;
}


/* **************************************** *
 * **************************************** *
 * **************************************** *
   MODAL 

 * **************************************** *
 * **************************************** *
 * **************************************** */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* **************************************** *
 * **************************************** *
 * **************************************** *
   BAR 

 * **************************************** *
 * **************************************** *
 * **************************************** */
.barOuter {
    width: 100%;
    background-color: #aaa;
}

.barInner {
    width: 1%;
    height: 30px;
    background-color: green;
}


/* **************************************** *
 * **************************************** *
 * **************************************** *
   MODAL FORM 

 * **************************************** *
 * **************************************** *
 * **************************************** */
.modal-content textarea
{
	width: 100%;
	height: 200px;
	font-size: 1.2em;
}

/*mobile*/
@media ( max-width: 736px ) {
	.container {
		height: 100%;
		padding-bottom: 20px;
	}

	.other-container {
		background-color: #ccc;
		width: 100%;
		height: 100%;
		padding-bottom: 20px;
	}

	h1 { font-size: 8em; 
			 font-weight: bold; padding-bottom: 30; padding-top: 100px; }

	.gets
	{
		display: block;
		position: absolute;
		bottom: 10;
		right: 10;
	}
}


/* **************************************** *
 * **************************************** *
 * **************************************** *
   CHECKBOX 

 * **************************************** *
 * **************************************** *
 * **************************************** */
input.collapsible {
	position: relative;
	top: 5px;
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0px none white;
  border-top: 0;
  border-left: 0;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
	width: 25px;
	height: 25px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
	transition:
		transform 0.2s
	;
}

input.collapsible + div {
	height: 2px;
	max-height: 0px;
	transition: max-height 0.5s;
}

input.collapsible:checked {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input.collapsible:checked + div{
	display: block;	
	height: auto;
	max-height: 1000px;
}

input.collapsible + div > table {display: none;}
input.collapsible:checked + div > table { display: block; }

.bigly-push {
	border-bottom: 5px solid black;
	height: 10%;
	width: 100%;
}

.bigly-wrap {
	position: relative;
	margin-top: 2%;
	height: 83%;
}

.bigly {
	position: relative;
	display: inline-block;
	padding: 2px;
	height: 100%;
	border-right: 2px solid #aaa;
	width: 48%;
	transition: width 0.1s, height 0.1s, font-size 0.1s, background-color 0.1s;
}

.bigly-right {
	border-right: 0px;
	border-left: 2px solid #aaa;
	float: right;
	height: 80%;
}

@keyframes shake {
	from: { left: 0px; }
	to: { left: 10px; }
}

.bigly li {
	position: relative;
	border: 0px;
	padding: 5px;
	padding-top: 10px;
	height: 50px;
	font-size: 1.4em;
	margin: 5px;
	margin-bottom: 10px;
	width: 90%;
	box-shadow: 10px 10px 5px gray;
	transition: color 0.1s, background-color 0.1s;
	font-weight: bold;
}

.bigly li:active {
	height: 50px;
	width: 100%;
	font-size: 1.8em;
	background-color: blue;
/*	
 	animation-name: shake;
	animation-duration: 1s;
*/
}

.bigly li:hover {
	color: white;
}

.bigly input[ type=search ] {
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
}	

/*
.bigly:hover {
	width: 56%;
	position: absolute;
	height: 100%;
	left: -20px;
	background-color: cyan;
	z-index: 99;
}
*/

.listing {
	overflow: hidden;
	overflow-Y: scroll;
	height: 100%;
	background-color: white;
}


ul.part-drop-list li span:nth-child(2) ,
.listing li span:nth-child(2) {
	display: none;	
}
.endurance-class:hover
{ background-color: #b3c6ef; }

.resistance-class:hover
{ background-color: #f2cef3; }

.control-class:hover
{ background-color: #fac0b0; }

.endurance-class
{ background-color: #7da1ee; }

.resistance-class
{ background-color: #dc79f9; }

.control-class
{ background-color: #e74f2f; }


a.tiny-link { 
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 1.1em;
	margin-left: 5px;
	display: inline-block;
}

/*hamburger*/
.header {
	width: 100%;
	height: 5px;
	position: fixed;
	background-color: #aaa;
	transition: height 0.1s;
	z-index: 90;
	top: 0px;
	overflow: hidden;
}

.checkity {
	z-index: 99;
	appearance: none;
	-webkit-appearance: none;
	border: 5px solid white;
	color: white;
	height: 40px;
	width: 40px;
	left: 5px;
	position: relative;
}

.checkity + .side-menu {
	left: -300px;
}

.checkity:checked + .side-menu {
	left: 0px;
}

.side-menu {
	position: fixed;
	top: 50px;
	left: 0px;
	width: 300px;
	height: 100%;
	background-color: gray;
	transition: left 0.2s;
}

.hidden {
	height: 10px;
}

.mid-cent 
{
	width: 90%;
	left: 6%;
	position: relative;
	font-size: 1.6em;
}

.mid-cent li {
	padding-top: 20px !important;
	width: 45% !important;
}

.menu-div
{
	margin-top: 20px; 
	margin-bottom: 10px; 
	color: white;
	font-weight: bold;
	border-bottom: 2px solid white;
	width: 95%;
	left: 2.5%;
	position: relative;
}

.header:hover {
	height: 50px;	
}


@keyframes open {
	from { height: 80%; }
	to { height: 0%; }
}

.welcome {
	position: absolute;
	z-index: 99;
	top: 10%;
	width: 50%;
	left: 25%;
	height: 80%;
	display: block;
	margin: 0 auto;	
	animation-name: open;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	background-color: white;
	overflow: hidden;
}

#done {
	position: absolute;
	bottom: 5px;
	right: 0px;
}

input[type=search] { 
/*	border: 0px; 
	font-size: 1.5em; 
	padding: 10px; 
*/
}

.part-list {
	position: fixed;
	top: 20px;
	left: 0px;
	height: 90%;
	width: 20px;	
	transition: width 0.2s;
	background-color: gray;
	z-index: 99;
	overflow: hidden;
}

.part-list ul {
	position: relative;
	left: 20px;
}

.part-list:hover {
	width: 50%;
}
