/*global*/
html {
	font-family: Helvetica;
	background-color: #ddd;
}

pre {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	width: 95%;
	margin: 0 auto;
	background-color: white;
	color: black;
	margin-top: 10;
	padding: 5;
}

.center {
	text-align: center;
}

.other-container {
	position: relative;
	width: 39%;
	padding-top: 10;
	margin-bottom: 10;
	float: right;
}

.container-section {
	position: relative;
	width: 95%;
	padding-top: 10;
	margin: 0 auto;
	margin-bottom: 10;
}

.container-dark-line {
	border-top: 5px solid #333;
}

.container-light-line {
	border-top: 5px solid #ccc;
}

.container p {
	font-size: 1.5em;
}

h1, h2, h3, h4, h5 {
	transition: font-size 0.2s;	
}

p {
	transition: font-size 0.2s,
							width 0.2s;
}

a {
	transition: background-color 0.2s,
							color 0.2s;
}

h1 { font-size: 16em; font-weight: bold; text-align: center; }
h2 { font-size: 5em; }
h3 { font-size: 4em; }
h4 { font-size: 3em; }
h5 { font-size: 2em; }


p {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 1.4em;
	margin-top: 30px;
}

.gets {
	transition: display 0.2s;
	display: none;
}

.container {
	width: 100%;
}

div.part-div {
	width: 100%;
	white-space: nowrap;
	overflow: scroll;
	overflow-y: hidden;
}

.participant-selector
{
	font-size: 1.5em;
	position:relative;
	top: 40px;
	z-index: 99;
	width: 300px;
	background-color: black;
	height: 50px;
	padding: 10px;
	padding-left: 50px;
	transform:
		rotate( -70deg )
	;
	transform-origin:
		120px 100px;
	;
	transition: 
		background-color 0.2s,
		color 0.2s
	;
}

.participant-selector:hover
{
	background-color: green;
	color: white;
}

.participant-info
{
	background-color: #e6e6ff;
}

.participants li + div:active
{
	width: 100%;
	transition: 
		background-color 0.2s,
		color 0.2s
	;
}

.participants li
{
	font-size: 1.0em;
	z-index: 0;
	position: relative;
	margin-bottom: -10px;
	display: inline-block;
	width: 60px;
	height: 200px;
	color: black;
	background-color: transparent;
}

.participants li a {
	color: white;
	text-decoration: none;
}

ul.nav a {
	background-color: #fff;
	width: 120px;
	display: inline-block;
	height: 70px;
	margin: 10px;
	font-size: 2em;
	text-align: center;
	padding-top: 30px;
}

ul.nav a:hover {
	background-color: purple;
	width: 120px;
	display: inline-block;
	height: 70px;
	margin: 10px;
}



.table th {
	font-weight: bold;
}

.table td.title {
	width: 200px;
}


/*2nd-level navigation (Switch between endurance and resistance data)*/
ul.participant-info-nav li {
	display: inline-block; width: 200px;	
	text-align: center;
	font-size: 0.7em;
	transition: 
		background-color 0.2s,
		color 0.2s;
	;
}

ul.participant-info-nav li:hover {
	background-color: green;	
	color: white;	
}



/*Inner navigation*/
ul.inner-nav li {
	text-align: center;
	width: 60px; 
	padding: 5px; 
	display: inline-block; 
	background-color: #333; 
	color: white;
	transition: background-color 0.2s, color 0.2s;
}
	
ul.inner-nav li:hover {
	background-color: cyan; 
	color: black; 
}

ul.endurance li {
	text-align: center;
	width: 60px; 
	padding: 5px; 
	display: inline-block; 
	background-color: #333; 
	color: white;
	transition: background-color 0.2s, color 0.2s;
}
	
ul.endurance li:hover {
	background-color: cyan; 
	color: black; 
}	

textarea.width {
	width: 100%;
	height: 150px;
	font-size: 1.2em;
}



/* **************************************** *
 * **************************************** *
 * **************************************** *
   SLIDER 

 * **************************************** *
 * **************************************** *
 * **************************************** */

/*Slider*/
.slidecontainer {
	width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	position: relative;
	top: 10px;
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 10px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 35px; /* Slider handle height */
	background: blue; /* Green background */
	cursor: pointer; /* Cursor on hover */
	-moz-border-radius: 5px;	
	-gecko-border-radius: 5px;	
	border-radius: 5px;	
}


.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}


.slider::-moz-range-thumb::after,
.slider::-webkit-slider-thumb::after {
	-moz-border-radius: 5px;	
	-gecko-border-radius: 5px;	
	border-radius: 5px;	
	height: 10px;
	width: 10px;
	background-color: white;
}


/* **************************************** *
 * **************************************** *
 * **************************************** *
   MODAL 

 * **************************************** *
 * **************************************** *
 * **************************************** */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* **************************************** *
 * **************************************** *
 * **************************************** *
   BAR 

 * **************************************** *
 * **************************************** *
 * **************************************** */
.barOuter {
    width: 100%;
    background-color: #aaa;
}

.barInner {
    width: 1%;
    height: 30px;
    background-color: green;
}


/* **************************************** *
 * **************************************** *
 * **************************************** *
   MODAL FORM 

 * **************************************** *
 * **************************************** *
 * **************************************** */
.modal-content textarea
{
	width: 100%;
	height: 200px;
	font-size: 1.2em;
}

/*mobile*/
@media ( max-width: 736px ) {
	.container {
		width: 100%;
		height: 100%;
		padding-bottom: 20px;
	}

	.other-container {
		background-color: #ccc;
		width: 100%;
		height: 100%;
		padding-bottom: 20px;
	}

	h1 { font-size: 8em; 
			 font-weight: bold; padding-bottom: 30; padding-top: 100px; }

	.gets
	{
		display: block;
		position: absolute;
		bottom: 10;
		right: 10;
	}
}


/* **************************************** *
 * **************************************** *
 * **************************************** *
   CHECKBOX 

 * **************************************** *
 * **************************************** *
 * **************************************** */
input.collapsible {
	position: relative;
	top: 5px;
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0px none white;
  border-top: 0;
  border-left: 0;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
	width: 25px;
	height: 25px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
	transition:
		transform 0.2s
	;
}

input.collapsible + div {
	height: 2px;
	max-height: 0px;
	transition: max-height 0.5s;
}

input.collapsible:checked {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input.collapsible:checked + div{
	display: block;	
	height: auto;
	max-height: 1000px;
}

input.collapsible + div > table {display: none;}
input.collapsible:checked + div > table { display: block; }

.bigly {
	display: inline-block;
	padding: 10px;
	height: 70%;
	background-color: #aaa;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-gecko-border-radius: 10px;
	width: 48%;
	position: relative;
}

.bigly input[ type=search ] {
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
}	

.listing {
	overflow: hidden;
	overflow-Y: scroll;
	height: 80%;
	background-color: white;
}

.listing-drop {
	height: 100%;
}

.listing ul li {
	border: 2px solid black;
	padding: 5px;
	font-size: 1.2em;
	margin: 2px;
}

.listing ul li:hover {
	border: 2px solid black;
	background-color: white;
	color: black;
}

ul.part-drop-list li span:nth-child(2) ,
.listing li span:nth-child(2) {
	display: none;	
}

a.tiny-link { 
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 1.1em;
	margin-left: 5px;
	display: inline-block;
}

.short-list {

}
