/*global*/
html {
	font-family: Helvetica;
	background-color: #ddd;
}

pre {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	width: 95%;
	margin: 0 auto;
	background-color: white;
	color: black;
	margin-top: 10;
	padding: 5;
}

/*full-screen on most normal things*/
.center
{
	text-align: center;
}

.other-container
{
	position: relative;
	width: 39%;
	padding-top: 10;
	margin-bottom: 10;
	float: right;
}

.container-section
{
	position: relative;
	width: 95%;
	padding-top: 10;
	margin: 0 auto;
	margin-bottom: 10;
}

.container-dark-line {
	border-top: 5px solid #333;
}

.container-light-line {
	border-top: 5px solid #ccc;
}

.container p
{
	font-size: 1.5em;
}

h1, h2, h3, h4, h5 {
	transition: font-size 0.2s;	
}

p {
	transition: font-size 0.2s,
							width 0.2s;
}

a {
	transition: background-color 0.2s,
							color 0.2s;
}

h1 { font-size: 16em; font-weight: bold; text-align: center; }
h2 { font-size: 5em; }
h3 { font-size: 4em; }
h4 { font-size: 3em; }
h5 { font-size: 2em; }


p {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 1.4em;
	margin-top: 30px;
}

.gets
{
	transition: display 0.2s;
	display: none;
}


/*mobile*/
@media ( max-width: 736px ) {
	.container {
		width: 100%;
		height: 100%;
		padding-bottom: 20px;
	}

	.other-container {
		background-color: #ccc;
		width: 100%;
		height: 100%;
		padding-bottom: 20px;
	}

	h1 { font-size: 8em; 
			 font-weight: bold; padding-bottom: 30; padding-top: 100px; }

	.gets
	{
		display: block;
		position: absolute;
		bottom: 10;
		right: 10;
	}
}

/*
html {
	background-color: #001a00;
}
*/

.container {
	width: 100%;
}

div.part-div {
	width: 100%;
	white-space: nowrap;
	overflow: scroll;
	overflow-y: hidden;
}

.participant-selector
{
	font-size: 1.5em;
	position:relative;
	top: 40px;
	z-index: 99;
	width: 300px;
	background-color: black;
	height: 50px;
	padding: 10px;
	padding-left: 50px;
	transform:
		rotate( -70deg )
	;
	transform-origin:
		120px 100px;
	;
	transition: 
		background-color 0.2s,
		color 0.2s
	;
}

.participant-selector:hover
{
	background-color: green;
	color: white;
}

.participant-info
{
	background-color: #e6e6ff;
}

.participants li + div:active
{
	width: 100%;
	transition: 
		background-color 0.2s,
		color 0.2s
	;
}

.participants li
{
	z-index: 0;
	position: relative;
	margin-bottom: -10px;
	display: inline-block;
	width: 60px;
	height: 200px;
	color: black;
	background-color: transparent;
}

.participants li a {
	color: white;
	text-decoration: none;
}

ul.nav a {
	background-color: #fff;
	width: 120px;
	display: inline-block;
	height: 70px;
	margin: 10px;
	font-size: 2em;
	text-align: center;
	padding-top: 30px;
}

ul.nav a:hover {
	background-color: purple;
	width: 120px;
	display: inline-block;
	height: 70px;
	margin: 10px;
}


ul.inner-nav li {
	text-align: center;
	width: 60px; 
	padding: 5px; 
	display: inline-block; 
	background-color: #333; 
	color: white;
	transition: background-color 0.2s, color 0.2s;
}
	
ul.inner-nav li:hover {
	background-color: cyan; 
	color: black; 
}

.table th {
	font-weight: bold;
}	
