{
	"source":     "{{ DATASOURCE }}",
	"cookie":     "{{ COOKIE }}",
	"base":       "{{ BASE }}",
	"Home":       "tmp",
	"name":       "{{ NAME }}",
	"title":      "{{ TITLE }}",
	"debug":      0,
	"master-post":false,
	"settings":   {
		"verboseLog": 0,
		"addLogLine": 0
	}, 
	"data":       {
	},
	"css":        [ 
		"zero"
	],
	"js":         [ "lib", "index" ],
	"routes":     {
		"multi":      { 
			"hint":   "Generates multiple PDFs for a student writing all PDFs to a folder and zipping it.",
			"model":  [ "check", "view", "multi" ], "view": [ "pdf/multi", "pdf/confirmation-multi" ] },
		"pdf":        { 
			"hint":   "Generates a PDF for a student by aggregating all of the users who have requested student information.",
			"model":  [ "view", "pdf" ], "view": [ "pdf/write", "pdf/confirmation" ] },
		"pdf-nogenerate":        { 
			"hint":   "Does the same as above, but outputs PDF to browser.",
			"content-type": "application/pdf",
			"model":  [ "check", "view", "pdf" ], "view": "pdf/live" },
		"web":        { 
			"hint":   "Does the same as above, but outputs a web page.",
			"model":  [ "view", "pdf" ], "view": "pdf/pdf" },
		"view":       { 
			"hint":   "Tests the PDF view for a student.",
			"model":  "view" , "view": "view/view" },
		"save":       { "model": [ "check", "pdf", "save" ], "view": "save" },
		"intro":      { },
		"admin":      { "model": [ "admin", "list" ], "view": "list" }
	}
}


